
@{
    ViewBag.Title = "SendMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="invoice-body">
    <h1>Khai báo thông tin hóa đơn</h1>
    @Html.BeginForm("Index", "SendEmail", FormMethod.Post, new { id = "form_validate" })
    {
    <div class="form-invoice-info">
        <div class="form-invoice-input">
            <label class="label-input" for="invoicecode">Code</label>
            <input type="text"
                   id="txtInvoiceCode"
                   name="invoicecode"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>
        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="fullname">Tên Khách Hàng</label>
            <input type="text"
                   id="txtFullname"
                   name="fullname"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="customeraddress">Địa Chỉ Khách Hàng</label>
            <input type="text" id="txtCustomerAddress" name="customeraddress" onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="email">Email</label>
            <input type="text"
                   id="txtEmail"
                   name="email"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="productname">Tên Sản Phẩm</label>
            <input type="text"
                   id="txtProductName"
                   name="productname"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="quantity">Số Lượng</label>
            <input type="text"
                   id="txtQuantity"
                   name="quantity"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="price">Giá Tiền</label>
            <input type="text"
                   id="txtPrice"
                   name="price"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
    </div>
    <div class="form-invoice-btn">
        <button class="btn-invoice" id="btn-search" name="search" value="Search" onclick="Search()">Tìm Kiếm</button>
    </div>
    }
</div>
<div class="invoice-data-container">
    @using (Html.BeginForm("Index", "SendEmail", FormMethod.Post))
    {
        <table class="table">
            <thead>
            <th>Code</th>
            <th>Tên Khách Hàng</th>
            <th>Email</th>
            <th>Địa Chỉ Khách Hàng</th>
            <th>Tên Sản Phẩm</th>
            <th>Số Lượng</th>
            <th>Giá Tiền</th>
            <th>Check List</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send" class="btn btn-default" />
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:51061/api/SendMailAPI/GetEmail",
            datatype: "json",
            success: (res) => {
                console.log(res)
                for (let i = 0; i < res.length; i++) {
                    $(".table tbody").append(
                        `<tr>
                            <td>${res[i].InvoiceCode}</td>
                            <td>${res[i].CustomerAddress}</td>
                            <td>${res[i].ProductName}</td>
                            <td>${res[i].Quantity}</td>
                            <td>${res[i].Price}</td>
                            <td><input type= "checkbox" value = "${i}"/></td>
                            <td>
                                <span onclick="handleUpdate()">
                                    <img style="width:18px; height:18px"
                                         src="~/Content/images/edit.svg" title="Edit user" />
                                </span>
                                <span onclick="handleDelete()">
                                    <img style="width:18px; height:18px; margin-left: 4%;"
                                         src="~/Content/images/bin.svg" title="Delete user" />
                                </span>
                            </td>
                        </tr>`
                    )
                }
            },
            error: (err) => {
                console.log(err)
            }
        })
    })
</script>
<script>
    const isNull = (id) => {
        if (document.getElementById(id).value.trim() === "") {
            return true
        }
        else
            return false
    }

    const handleError = (id) => {
        document.getElementById(id).parentElement.querySelector("span").innerText = ""
    }

    const Search = () => {
        const x = document.getElementById("btn-search");
        const y = document.getElementById("txtInvoiceCode");
        if (isNull("txtInvoiceCode")) {
            x.setAttribute("type", "button")
            y.focus()
            y.parentElement.querySelector("span").innerText = "Cần điền trường này !"
        } else {
            y.parentElement.querySelector("span").innerText = ""
            x.setAttribute("type", "submit")
        }
    }

</script>

