* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

.invoice-header ul {
    display: flex;
    width: 1380px;
    margin: auto;
    align-items: center;
    gap: 30px;
    min-height: 60px;
    position: relative;
}

    .invoice-header ul li:first-child {
        border-left: none;
    }

        .invoice-header ul li:first-child:hover .sub-nav,
        .invoice-header ul li:nth-child(2):hover .sub-nav {
            display: block;
        }

.invoice-header > ul > li {
    padding: 5px 0px 5px 40px;
    border-left: 1px solid #ccc;
    height: 60px;
    display: flex;
    align-items: center;
}

.invoice-header ul li a {
    font-size: 20px;
}

.invoice-header .sub-nav {
    position: absolute;
    min-width: 200px;
    top: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
    border: 1px solid black;
    display: none;
}

    .invoice-header .sub-nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

        .invoice-header .sub-nav ul li {
            padding-left: 15px;
            text-align: left;
            width: 100%;
        }

.invoice-body {
    background-color: #ccc;
    height: auto;
    padding-bottom: 10px;
}

    .invoice-body h1 {
        text-align: center;
        margin-bottom: 20px;
    }

form {
    background-color: #fff;
    width: 1140px;
    margin: auto;
}

.form-invoice-info {
    display: flex;
    flex-wrap: wrap;
}

    .form-invoice-info .form-invoice-input {
        width: 50%;
        padding: 10px;
    }

        .form-invoice-info .form-invoice-input .label-input {
            width: 30%;
            display: inline-block;
        }

        .form-invoice-info .form-invoice-input input {
            width: 55%;
            height: 30px;
        }

.form-invoice-btn {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: center;
}

    .form-invoice-btn button {
        width: 18%;
        height: 30px;
        border-radius: 5px;
        border-style: none;
        background-color: #0277ad;
        color: #fff;
        margin: 10px 20px;
    }

.invoice-data-container {
    background-color: #ccc;
    padding-bottom: 20px;
}

.table {
    width: 1380px;
    margin: auto;
    background-color: #fff;
}

    .table thead tr th {
        text-align: left;
    }
