
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="invoice-body">
    <h1>Khai báo thông tin hóa đơn</h1>
    @Html.BeginForm("Customer", "System", FormMethod.Post)
    {
    <div class="form-invoice-info">
        <div class="form-invoice-input">
            <label class="label-input" for="customerid">ID Khách Hàng</label>
            <input type="text"
                   id="txtCustomerID"
                   name="customerid"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="fullname">Họ Tên Khách Hàng</label>
            <input type="text"
                   id="txtFullname"
                   name="fullname"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="gender">Giới Tính</label>
            <input type="text" id="txtGender" name="gender" onblur="handleError(this.id)" />
        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="birthdate">Ngày Sinh</label>
            <input type="date"
                   id="txtBirthDate"
                   name="birthdate"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="customeraddress">Địa Chỉ</label>
            <input type="text" id="txtCustomerAddress" name="customeraddress" onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="email">Email</label>
            <input type="email" id="txtEmail" name="email" onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
    </div>
    <div class="form-invoice-btn">
        <button class="btn-invoice" id="btn-create" name="create" value="Create" onclick="Create()">Thêm</button>
        <button style="display:none" class="btn-invoice" id="btn-update" name="update" value="Update" onclick="Update()">Sửa</button>
        <button style="display:none" class="btn-invoice" id="btn-delete" name="delete" value="Delete" onclick="Delete()">Xóa</button>
        <button class="btn-invoice" id="btn-search" name="search" value="Search" onclick="Search()">Tìm Kiếm</button>
        <button class="btn-invoice" id="btn-refresh" name="refresh" value="Refresh">Làm Mới</button>
    </div>
    }
</div>
<div class="invoice-data-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID Khách Hàng</th>
                <th>Họ Tên Khách Hàng</th>
                <th>Giới Tính</th>
                <th>Ngày Sinh</th>
                <th>Địa Chỉ</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="data-paginate"></div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:51061/api/SystemAPI/GetCustomer",
            datatype: "json",
            success: (res) => {
                console.log(res)
                for (let i = 0; i < res.length; i++) {
                    $(".table tbody").append(
                        `<tr>
                            <td>${res[i].CustomerID}</td>
                            <td>${res[i].Fullname}</td>
                            <td>${res[i].Gender}</td>
                            <td>${res[i].BirthDate}</td>
                            <td>${res[i].CustomerAddress}</td>
                            <td>${res[i].Email}</td>
                            <td>
                                <span onclick="handleUpdate()">
                                    <img style="width:18px; height:18px"
                                         src="~/Content/images/edit.svg" title="Edit user" />
                                </span>
                                <span onclick="handleDelete()">
                                    <img style="width:18px; height:18px; margin-left: 4%;"
                                         src="~/Content/images/bin.svg" title="Delete user" />
                                </span>
                            </td>
                        </tr>`
                    )
                }
            },
            error: (err) => {
                console.log(err)
            }
        })
    })
</script>
<script>
    const isNull = (id) => {
        if (document.getElementById(id).value.trim() === "") {
            return true
        }
        else
            return false
    }

    const handleError = (id) => {
        document.getElementById(id).parentElement.querySelector("span").innerText = ""
    }
    const handleUpdate = (i) => {
        const x = document.getElementById("btn-update");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        if (i === 0) {
            let getDate = document.querySelector(`table tbody tr:first-child`).children[3].innerText.slice(0, -11).split("/")
            if (parseInt(getDate[0]) >= 1 && parseInt(getDate[0]) <= 9) {
                getDate[0] = "0" + getDate[0]
            }
            if (parseInt(getDate[1]) >= 1 && parseInt(getDate[1]) <= 9) {
                getDate[1] = "0" + getDate[1]
            }
            const dateFormat = getDate[2].trim() + "-" + getDate[0] + "-" + getDate[1]
            document.getElementById('txtCustomerID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText
            document.getElementById('txtFullname').value = document.querySelector(`table tbody tr:first-child`).children[1].innerText
            document.getElementById('txtGender').value = document.querySelector(`table tbody tr:first-child`).children[2].innerText
            document.getElementById('txtBirthDate').value = dateFormat
            document.getElementById('txtCustomerAddress').value = document.querySelector(`table tbody tr:first-child`).children[4].innerText
            document.getElementById('txtEmail').value = document.querySelector(`table tbody tr:first-child`).children[5].innerText
        } else {
            let getDate = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[3].innerText.slice(0, -11).split("/")
            if (parseInt(getDate[0]) >= 1 && parseInt(getDate[0]) <= 9) {
                getDate[0] = "0" + getDate[0]
            }
            if (parseInt(getDate[1]) >= 1 && parseInt(getDate[1]) <= 9) {
                getDate[1] = "0" + getDate[1]
            }
            const dateFormat = getDate[2].trim() + "-" + getDate[0] + "-" + getDate[1]
            document.getElementById('txtCustomerID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[0].innerText
            document.getElementById('txtFullname').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[1].innerText
            document.getElementById('txtGender').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[2].innerText
            document.getElementById('txtBirthDate').value = dateFormat
            document.getElementById('txtCustomerAddress').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[4].innerText
            document.getElementById('txtEmail').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[5].innerText
        }
    }

    const handleDelete = (i) => {
        const x = document.getElementById("btn-delete");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        i === 0 ? document.getElementById('txtCustomerID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText : document.getElementById('txtCustomerID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[0].innerText
    }

    const Delete = () => {
        const x = document.getElementById("btn-delete");
        const y = document.getElementById("txtCustomerID");
        if (isNull("txtCustomerID")) {
            document.getElementById('btn-delete').setAttribute("type", "button")
            y.focus()
            y.parentElement.querySelector("span").innerText = "Cần điền trường này !"
        } else {
            if (x.style.display === "block") {
                x.style.display = "none";
            }
            y.parentElement.querySelector("span").innerText = ""
            x.setAttribute("type", "submit")
        }
    }

    const Update = () => {
        const x = document.getElementById("btn-update");
        if (isNull("txtFullname") || isNull("txtCustomerID") || isNull("txtGender") || isNull("txtBirthDate") || isNull("txtCustomerAddress") || isNull("txtEmail")) {
            x.setAttribute("type", "button")
            alert("Cần điền đầy đủ các trường")
        } else {
            if (x.style.display === "block") {
                x.style.display = "none";
            }
            x.setAttribute("type", "submit")
        }
    }

    const Create = () => {
        const x = document.getElementById("btn-create");
        if (isNull("txtFullname") || isNull("txtCustomerID") || isNull("txtGender") || isNull("txtBirthDate") || isNull("txtCustomerAddress") || isNull("txtEmail")) {
            x.setAttribute("type", "button")
            alert("Cần điền đầy đủ các trường")
        } else {
            x.setAttribute("type", "submit")
        }
    }

    const Search = () => {
        const x = document.getElementById("btn-search");
        const y = document.getElementById("txtCustomerID");
        if (isNull("txtCustomerID")) {
            x.setAttribute("type", "button")
            y.focus()
            y.parentElement.querySelector("span").innerText = "Cần điền trường này !"
        } else {
            y.parentElement.querySelector("span").innerText = ""
            x.setAttribute("type", "submit")
        }
    }
</script>

