
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="invoice-body">
    <h1>Khai báo thông tin hóa đơn</h1>
    @Html.BeginForm("Supplier", "System", FormMethod.Post)
    {
    <div class="form-invoice-info">
        <div class="form-invoice-input">
            <label class="label-input" for="supplierid">ID Nhà Phân Phối</label>
            <input type="text"
                   id="txtSupplierID"
                   name="supplierid"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="suppliername">Tên Nhà Phân Phối</label>
            <input type="text"
                   id="txtSupplierName"
                   name="suppliername"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="supplieraddress">Địa Chỉ</label>
            <input type="text" id="txtSupplierAddress" name="supplieraddress" onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
    </div>
    <div class="form-invoice-btn">
        <button class="btn-invoice" id="btn-create" name="create" value="Create" onclick="Create()">Thêm</button>
        <button style="display:none" class="btn-invoice" id="btn-update" name="update" value="Update" onclick="Update()">Sửa</button>
        <button style="display:none" class="btn-invoice" id="btn-delete" name="delete" value="Delete" onclick="Delete()">Xóa</button>
        <button class="btn-invoice" id="btn-search" name="search" value="Search" onclick="Search()">Tìm Kiếm</button>
        <button class="btn-invoice" id="btn-refresh" name="refresh" value="Refresh">Làm Mới</button>
    </div>
    }
</div>
<div class="invoice-data-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID Nhà Phân Phối</th>
                <th>Tên Nhà Phân Phối</th>
                <th>Địa Chỉ</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="data-paginate"></div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:51061/api/SystemAPI/GetSupplier",
            datatype: "json",
            success: (res) => {
                console.log(res)
                for (let i = 0; i < res.length; i++) {
                    $(".table tbody").append(
                        `<tr>
                            <td>${res[i].SupplierID}</td>
                            <td>${res[i].SupplierName}</td>
                            <td>${res[i].SupplierAddress}</td>
                            <td>
                                <span onclick="handleUpdate()">
                                    <img style="width:18px; height:18px"
                                         src="~/Content/images/edit.svg" title="Edit user" />
                                </span>
                                <span onclick="handleDelete()">
                                    <img style="width:18px; height:18px; margin-left: 4%;"
                                         src="~/Content/images/bin.svg" title="Delete user" />
                                </span>
                            </td>
                        </tr>`
                    )
                }
            },
            error: (err) => {
                console.log(err)
            }
        })
    })
</script>
<script>
    const isNull = (id) => {
        if (document.getElementById(id).value.trim() === "") {
            return true
        }
        else
            return false
    }

    const handleError = (id) => {
        document.getElementById(id).parentElement.querySelector("span").innerText = ""
    }
    const handleUpdate = (i) => {
        const x = document.getElementById("btn-update");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        if (i === 0) {
            document.getElementById('txtSupplierID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText
            document.getElementById('txtSupplierName').value = document.querySelector(`table tbody tr:first-child`).children[1].innerText
            document.getElementById('txtSupplierAddress').value = document.querySelector(`table tbody tr:first-child`).children[2].innerText

        } else {
            document.getElementById('txtSupplierID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[0].innerText
            document.getElementById('txtSupplierName').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[1].innerText
            document.getElementById('txtSupplierAddress').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[2].innerText
        }
    }

    const handleDelete = (i) => {
        const x = document.getElementById("btn-delete");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        i === 0 ? document.getElementById('txtSupplierID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText : document.getElementById('txtSupplierID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[0].innerText
    }

    const Delete = () => {
        const x = document.getElementById("btn-delete");
        const y = document.getElementById("txtSupplierID");
        if (isNull("txtSupplierID")) {
            document.getElementById('btn-delete').setAttribute("type", "button")
            y.focus()
            y.parentElement.querySelector("span").innerText = "Cần điền trường này !"
        } else {
            if (x.style.display === "block") {
                x.style.display = "none";
            }
            y.parentElement.querySelector("span").innerText = ""
            x.setAttribute("type", "submit")
        }
    }

    const Update = () => {
        const x = document.getElementById("btn-update");
        if (isNull("txtSupplierID") || isNull("txtSupplierName") || isNull("txtSupplierAddress")) {
            x.setAttribute("type", "button")
            alert("Cần điền đầy đủ các trường")
        } else {
            if (x.style.display === "block") {
                x.style.display = "none";
            }
            x.setAttribute("type", "submit")
        }
    }

    const Create = () => {
        const x = document.getElementById("btn-create");
        if (isNull("txtSupplierID") || isNull("txtSupplierName") || isNull("txtSupplierAddress")) {
            x.setAttribute("type", "button")
            alert("Cần điền đầy đủ các trường")
        } else {
            x.setAttribute("type", "submit")
        }
    }

    const Search = () => {
        const x = document.getElementById("btn-search");
        const y = document.getElementById("txtSupplierID");
        if (isNull("txtSupplierID")) {
            x.setAttribute("type", "button")
            y.focus()
            y.parentElement.querySelector("span").innerText = "Cần điền trường này !"
        } else {
            y.parentElement.querySelector("span").innerText = ""
            x.setAttribute("type", "submit")
        }
    }
</script>


